* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-container {
    background-color: #f5e8de;
    display: flex;
    height: 25rem;
    width: 40rem;
}

.sidebar {
    background-color: rgb(125, 190, 170);
    flex: 0 0 25%;
    padding: 24px;
  }

  .div-column {
    display: flex;
    flex-direction: column;
  }

  .bio {
    background-color: cornsilk;
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
    height: 10rem;
    width: 28rem;
  }

  .div-row {
    display: flex;
    justify-content: space-around;
  }

  .goals {
    background-color: cornsilk;
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
    height: 10rem;
    width: 13rem;
  }

  .skills {
    background-color: cornsilk;
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
    height: 10rem;
    width: 13rem;
  }