:root {
  --button-border-radius: 50px;
}

.hero {
  background-image: url(../Images/hero-about.jpeg);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  color: #fff;
  font-size: 3rem;
}

main {
  position: relative;
  padding: 70px 0;
}

h1 {
  font-size: 1.875rem;
  text-align: center;
  border-width: 191px;
}

.underline.green {
  background-color: #448e79;
  color: #448e79;
  height: 8px;
  width: 124px;
}

.om-oss {
  width: calc(50vw - 24px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 24px;
}

.student-button {
  background-color: #ce3452;
  color: #fff;
  border: none;
  padding: 0;
  height: 50px;
  width: 191px;
  font-size: 18px;
  border-radius: var(--button-border-radius);
  font-weight: bold;
  margin-right: 16px;
}

.contact-button {
  color: #ef4e6d;
  border: 2px solid #ef4e6d;
  background-color: #fff;
  padding: 0;
  height: 50px;
  width: 191px;
  font-size: 18px;
  font-weight: bold;
  border-radius: var(--button-border-radius);
}

.contact-card {
  border: #ce3452;
  border-radius: var(--button-border-radius);
}

.students-container {
  padding: 30px 0 100px 0;
}

.about-student-image {
  position: absolute;
  height: 50vw;
  max-height: 600px;
  max-width: 50vw;
  right: 0;
  top: 0;
}

.students-container .section-title {
  text-decoration-color: #cd3452;
}

h3.section-title {
  font-family: "Inter";
  font-size: 2.25rem;
  font-weight: normal;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 8px;
  text-underline-offset: 16px;
}

@media screen and (max-width: 991px) {
  .hero {
    height: 300px;
  }

  .hero-content h1 {
    color: #fff;
    font-size: 2rem;
  }

  .about-student-image {
    display: none;
  }

  .button-container {
    display: flex;
    flex-direction: column;
  }

  .om-oss {
    align-items: center;
    width: auto;
    margin: 50px;
    padding-top: 0;
  }

  button {
    margin: 16px;
  }
}
