* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url("../fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: medium;
  src: url("../fonts/Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url("../fonts/Inter/Inter-Bold.ttf");
}

html {
  height: 100vh;
}

a {
  color: #cf3452;
  text-decoration: none;
}

.banner {
  align-items: center;
  background-image: url(../Images/hero-welcome.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.banner-content {
  align-items: center;
  width: 100%;
}

.banner-content h1 {
  color: #fff;
  font-family: "Inter";
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.banner-content p {
  color: #fff;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: medium;
  line-height: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  padding-top: 40px;
}

.partners {
  background-color: #fafafa;
  padding: 30px 0;
  text-align: center;
}

h3.section-title {
  font-family: "Inter";
  font-size: 2.25rem;
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 8px;
  text-underline-offset: 16px;
}

button,
a.link-button {
  align-self: center;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: normal;
  height: 50px;
  line-height: 30px;
  margin: 0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 190px;
}

button.see-all,
a.link-button.see-all {
  background-color: #cf3452;
  border: 3px solid #cf3452;
  color: #fff;
}

button.see-all:hover,
a.link-button.see-all:hover {
  background-color: #b42e49;
  border: 3px solid #b42e49;
  color: #fff;
}

button.secondary,
a.link-button.secondary {
  background-color: #fff;
  border: 3px solid #cf3452;
  color: #000;
}

button.secondary:hover,
a.link-button.secondary:hover {
  background-color: #b42e49;
  border: 3px solid #b42e49;
  color: #fff;
}

button.close {
  background-color: #eee;
  color: #000;
}

button.close:hover {
  background-color: #e6e6e6;
}

.partners {
  background-color: #fafafa;
  padding: 30px 0 60px 0;
  text-align: center;
}

.partners .section-title {
  text-decoration-color: #faff06;
}

.students-container .section-title {
  text-decoration-color: #ce3452;
}

.students-container .section-title {
  text-decoration-color: #ce3452;
}

h3.section-title {
  font-family: "Inter";
  font-size: 2.25rem;
  font-weight: normal;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 8px;
  text-underline-offset: 16px;
}

/* Media Query for Larger Screens */
@media (min-width: 991px) {
  .banner {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .banner-content {
    align-items: flex-start;
    max-width: 1400px;
  }

  .banner-content h1 {
    font-size: 6rem;
  }

  .banner-content p {
    font-size: 1.5rem;
    width: 80%;
  }

  .button-group {
    flex-direction: row;
    gap: 10px;
  }

  a.link-button {
    padding: 8px 20px;
  }
}
