@media screen and (max-width: 991px) {

    .logo img {
        max-width: 40px;
        height: auto;
        margin-left: 30px;
    }

    .banner {
        height: 100px;
      }
    
      .logo img {
        max-width: 30px;
        margin-left: 10px;
      }

    #menu {
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 28px;
        position: absolute;
        top: 60px;
        margin: 5px;
        right: 8px;
        background-color: rgb(155, 158, 155);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 40%;
        display: none;
    }

    #menu li {
        text-align: center;
        margin-bottom: 10px;
    }

    #menu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .submenu {
        display: flex;
        flex-direction: column;
    }

    #hamburger-menu {
        color: #24f2c9;
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    
}

