* {
  box-sizing: border-box;
}

.partner-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.partner-card {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 370px;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;

  position: relative;
  width: calc(100%);
}

.job-title {
  color: #fff;
  font-family: Inter;
  font-size: 2.375rem;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.partner-name {
  bottom: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0;
  padding: 10px;
  position: absolute;
  right: 10px;
  text-align: right;
}

#popup-overlay {
  background-color: #00000050;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}

#partner-popup {
  background-color: #fff;
  border-radius: 10px;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 1000;
}

#popup-logo {
  margin: 0 auto;
  max-width: 200px;
  max-height: 50px;
}

.hidden {
  display: none;
}

@media (min-width: 991px) {
  .partner-card {
    width: calc(50% - 10px);
    margin-right: 20px;
  }
  .partner-card:nth-of-type(2n) {
    margin-right: 0;
  }

  #partner-popup {
    width: 780px;
  }
}
