.students-container {
  padding: 30px 0 50px;
}

.student-slider-container {
  height: 250px;
}

.student-slider {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.student-slider .student-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.student-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.student-picture.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.5);
}

.student-picture.prev {
  z-index: 2;
  opacity: 0.5;
  transform: translate(-125%, -50%);
}

.student-picture.next {
  z-index: 2;
  opacity: 0.5;
  transform: translate(25%, -50%);
}

.student-slider .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: 99; /* 99 to make whole button appear above active picture*/
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 0.5s ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}

.button-container-seeall {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.student-slider .student-name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 991px) {
  .student-slider .student-picture {
    width: 150px;
    height: 150px;
  }

  .student-slider-container {
    height: 150px;
    width: auto;
  }

  .student-slider .button-container {
    width: 150px;
  }
}
